In [4]:
import numpy as np
import pandas as pd 
import re
import collections
import csv
#https://daniel-at-world.blogspot.com/2018/06/downloading-all-nips-papers.html

In [5]:
articles = pd.read_csv('papers.csv')

In [6]:
links = []

In [13]:
from lxml import html
import requests
import urllib.request
 
BASE_URL = 'https://papers.nips.cc/'
page = requests.get(BASE_URL)
tree = html.fromstring(page.content)
books = [ href.attrib['href'] for href in tree.xpath('//a') if 'book' in href.attrib['href']]
 
for book in books:
    book_page = requests.get(BASE_URL + book)
    tree = html.fromstring(book_page.content)
    links = links + [ href.attrib['href'] for href in tree.xpath('//a') if 'paper' in href.attrib['href']]

In [58]:
article_links = dict()

In [59]:
# construct a dict of links 
for l in links:
    article_id = re.findall('\d+',l)[0]
    article_links[int(article_id)] = BASE_URL + l

In [64]:
# # read this guy out 
# with open('id_link.csv', 'w') as csv_file:
#     writer = csv.writer(csv_file)
#     for key, value in article_links.items():
#         writer.writerow([key, value])

In [7]:
article_links = pd.read_csv('id_link.csv')

In [8]:
set1 = set(articles['id']) 
set2 = set(article_links['id'])

In [9]:
# verify that our article links are exhaustive
for elem in set1:
    if elem not in set2:
        print(elem)

In [10]:
articles.head()

,id,year,title,event_type,pdf_name,abstract,paper_text
0,1,1987,Self-Organization of Associative Database and ...,NaN,1-self-organization-of-associative-database-an...,Abstract Missing,767\n\nSELF-ORGANIZATION OF ASSOCIATIVE DATABA...
1,10,1987,A Mean Field Theory of Layer IV of Visual Cort...,NaN,10-a-mean-field-theory-of-layer-iv-of-visual-c...,Abstract Missing,683\n\nA MEAN FIELD THEORY OF LAYER IV OF VISU...
2,100,1988,Storing Covariance by the Associative Long-Ter...,NaN,100-storing-covariance-by-the-associative-long...,Abstract Missing,394\n\nSTORING COVARIANCE BY THE ASSOCIATIVE\n...
3,1000,1994,Bayesian Query Construction for Neural Network...,NaN,1000-bayesian-query-construction-for-neural-ne...,Abstract Missing,Bayesian Query Construction for Neural\nNetwor...
4,1001,1994,"Neural Network Ensembles, Cross Validation, an...",NaN,1001-neural-network-ensembles-cross-validation...,Abstract Missing,"Neural Network Ensembles, Cross\nValidation, a..."

In [154]:
article_links['link'][article_links['id'] == 1000].values

array(['https://papers.nips.cc//paper/1000-bayesian-query-construction-for-neural-network-models'],
      dtype=object)

In [109]:
# article_links['id'] = list(map(lambda x: int(x), article_links['id']))

C:\ProgramData\Anaconda3\envs\django1\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
papers = pd.read_csv('papers.csv')

In [23]:
list(article_links[article_links['id'].isin([1000, 1001])]['link'].values)

['https://papers.nips.cc//paper/1001-neural-network-ensembles-cross-validation-and-active-learning',
 'https://papers.nips.cc//paper/1000-bayesian-query-construction-for-neural-network-models']

In [26]:
paper_authors = pd.read_csv('paper_authors.csv')

In [46]:
list(article_links[article_links['id'] == 134]['link'].values)

['https://papers.nips.cc//paper/134-efficient-parallel-learning-algorithms-for-neural-networks']

In [31]:
papers.head()

,id,year,title,event_type,pdf_name,abstract,paper_text
0,1,1987,Self-Organization of Associative Database and ...,NaN,1-self-organization-of-associative-database-an...,Abstract Missing,767\n\nSELF-ORGANIZATION OF ASSOCIATIVE DATABA...
1,10,1987,A Mean Field Theory of Layer IV of Visual Cort...,NaN,10-a-mean-field-theory-of-layer-iv-of-visual-c...,Abstract Missing,683\n\nA MEAN FIELD THEORY OF LAYER IV OF VISU...
2,100,1988,Storing Covariance by the Associative Long-Ter...,NaN,100-storing-covariance-by-the-associative-long...,Abstract Missing,394\n\nSTORING COVARIANCE BY THE ASSOCIATIVE\n...
3,1000,1994,Bayesian Query Construction for Neural Network...,NaN,1000-bayesian-query-construction-for-neural-ne...,Abstract Missing,Bayesian Query Construction for Neural\nNetwor...
4,1001,1994,"Neural Network Ensembles, Cross Validation, an...",NaN,1001-neural-network-ensembles-cross-validation...,Abstract Missing,"Neural Network Ensembles, Cross\nValidation, a..."

In [33]:
authors = pd.read_csv('authors.csv')

In [34]:
authors

         id                            name
0         1                  Hisashi Suzuki
1        10                     David Brady
2       100            Santosh S. Venkatesh
3      1000               Charles Fefferman
4     10000                   Artur Speiser
5     10001                    Fabio Cecchi
6     10002                     Nidhi Hegde
7     10003                  Ethan Elenberg
8     10004                   Moran Feldman
9     10005                     Will Dabney
10    10006                   Joshua Loftus
11    10007                      Jake Snell
12    10008                    Chongxuan LI
13     1001                    Scott Markel
14    10010                    Akihiro Yabe
15    10011          Ken-Ichi Kawarabayashi
16    10012                Naonori Kakimura
17    10013                 Takuro Fukunaga
18    10014                  Daisuke Hatano
19    10015                    Hanna Sumita
20    10016                 Mali Sundaresan
21    10017                   Arshed Nabeel
22    10018                     Blake Mason
23    10019                 Rebecca Roelofs
24     1002                Gregory J. Wolff
25    10020                  Mitchell Stern
26    10021                    Bikash Joshi
27    10022                 Franck Iutzeler
28    10023                    Yury Maximov
29    10024                    Dinghan Shen
...     ...                             ...
9754   9972                    Debarun Dhar
9755   9973                     Antoni Chan
9756   9974                     Aritra Guha
9757   9975                 Luigi Carratino
9758   9976                       Hao Zhang
9759   9977                     Zhijie Deng
9760   9978                 Abbas Kazerouni
9761   9979                 J?rg Bornschein
9762    998              Javier R. Movellan
9763   9980                Masaaki Imaizumi
9764   9981                Takanori Maehara
9765   9982                 Phillip A. Jang
9766   9983                     Andrew Loeb
9767   9984                 Matthew Davidow
9768   9985                     Weiyang Liu
9769   9986                  Yan-Ming Zhang
9770   9987                      Zhiding Yu
9771   9988                          Dan Xu
9772   9989           Xavier Alameda-Pineda
9773    999                  Sumio Watanabe
9774   9990                     Elisa Ricci
9775   9991                       Nicu Sebe
9776   9992                   Flavio Calmon
9777   9993  Karthikeyan Natesan Ramamurthy
9778   9994            Bhanukiran Vinzamuri
9779   9995                   Jin Hyung Lee
9780   9996        Hooshmand Shokri Razaghi
9781   9997                      Weichi Yao
9782   9998                     Espen Hagen
9783   9999               Gaute T. Einevoll

[9784 rows x 2 columns]